<mat-nav-list>
  <div class="logo py-4">
    <img src="./assets/logo.jpg" alt="Company Logo" />
  </div>
  <mat-divider></mat-divider>
  <h2 matSubheader class="mt-2">APPLICATIONS</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">
    <mat-icon>home</mat-icon> Home
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
    <mat-icon>dashboard</mat-icon> Dashboard
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/settings">
    <mat-icon>settings</mat-icon> Settings
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/reports"> <mat-icon>reports</mat-icon> Reports </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/apply"> <mat-icon>edit</mat-icon> Apply  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/process-history"> <mat-icon>history</mat-icon> Process History </a>

</mat-nav-list>
